* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: Rubik;
  src: url('./Rubik-Regular.ttf');
}

body {
  font-family: Rubik;
  background: hsl(221, 27%, 31%);
  color: #fff;
}

.container {
  max-width: 45rem;
  padding: 5vh 2rem;
  margin: 0 auto;
}

.calc-heading {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 2.5rem;
}

.theme-box {
  display: flex;
  align-items: center;
}

.theme-text {
  font-size: 1.2rem;
  margin-right: 1rem;
}

/* input[type='radio'] {
  position: relative;
}

input::after {
  content: '1';
  color: #fff;
  position: absolute;
  top: -20px;
} */

.grid {
  display: grid;
  grid-template-columns: 45rem;
  grid-template-rows: auto 1fr 4fr;
  row-gap: 2rem;
}

.screen {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  background: hsl(224, 36%, 15%);
  padding: 2rem;
  font-size: 5rem;
  height: 15vh;
  border-radius: 1.1rem;
  overflow-y: hidden;
}

.operator {
  font-size: 3.5rem;
}

.btns {
  padding: 2rem;
  background: hsl(223, 31%, 20%);
  border-radius: 1.1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 1.7rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(221, 14%, 31%);
  border-radius: 1.1rem;
  font-size: 2.5rem;
  font-weight: 700;
  background: hsl(30, 25%, 89%);
}

.reset,
.del {
  background-color: hsl(225, 21%, 49%);
  color: #fff;
}

.equal {
  background: hsl(6, 63%, 50%);
  color: #fff;
}
.reset {
  grid-column: 1/3;
}

.equal {
  grid-column: 3/-1;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
